* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "League Spartan", sans-serif;
}

.main {
  overflow: hidden;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
}

.main__background {
  height: 100vh;
  background-image: url("../img/wallpapers/ian-dooley-DJ7bWa-Gwks-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.main__content_glass {
  width: 50em;
  height: 25em;
}

.glass {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.5px);
  border: 1px solid rgba(255, 255, 255, 0.36);
}

.title__main {
  display: flex;
  padding: 1em 2.5em;
  text-align: center;
  font-size: 3.5em;
  word-spacing: 0.1em;
  font-size: 900;
  flex-wrap: wrap;
}

.main__sesions {
  position: absolute;
  top: 0;
  right: 0;
  width: 20em;
  height: 5em;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0 0 0.8em 0.8em;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.5px);
  border: 1px solid rgba(255, 255, 255, 0.36);
  border-top: 0px;
}

.main__btn {
  padding: 1em;
}

.btn {
  width: 2em;
  padding: 0.8em 1.2em;
  color: white;
  text-decoration: none;
  border-radius: 0.4em;
  box-shadow: 10px 10px 8px -9px rgba(0, 0, 0, 0.69);
  font-size: 1em;
  cursor: pointer;
}

.login__login {
  background-color: #02b00b;
}

.register__register {
  background-color: #1d2cb4;
}

.login__login:hover {
  background-color: #02cf0d;
}

.register__register:hover {
  background-color: #3448fd;
}

/************** MODAL LOGIN ***************/

.modal__login {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  border: 1px solid gray;
  width: 25em;
  height: 20em;
  margin: auto;
  animation: animatetop 1s;
  border-radius: 0.5em;
}

.modal__content {
  padding: 0.5em 1em 1em;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modal_login {
  padding: 1em;
}

.body__modal__login {
  padding: 0 2em 1.2em;
}

.body__modal__login {
  outline: none;
  border: 0.1em solid #0485fdaf;
}

.login__title {
  font-size: 2em;
  font-weight: 900;
  color: #1804c4;
}

.input {
  font-size: 0.9em;
  display: block;
  width: 100%;
  margin: 2em 0 1em;
  padding: 0.8em 1em;
  outline: none;
  border: 0.1em solid #727272;
  border-radius: 0.3em;
}

.input:focus {
  border: 0.1em solid #0485fdaf;
  color: #727272;
  outline: none;
}

.msg__login_error {
  display: none;
  font-size: 0.9em;
  color: #d10606;
}

.btn__login__modal {
  display: flex;
  gap: 1em;
  margin-top: 1em;
}

.btn_sesion {
  padding: 0.8em 0.5em;
  width: 100%;
  color: white;
  border: 0;
  border-radius: 0.3em;
}

.btn__login {
  background-color: #1b31f7;
}

.btn__login:hover {
  background-color: #142194;
}

.btn__close_login {
  background-color: #f72121;
}

.btn__close_login:hover {
  background-color: #a70909;
}

@keyframes animatebottom {
  from {
    top: 0;
    opacity: 1;
  }

  to {
    top: -300px;
    opacity: 0;
  }
}

/**************** Media query ******************/

@media (max-width: 768px) {
  .main__content_glass {
    width: 22em;
    height: 25em;
  }

  .title__main {
    font-size: 3.5em;
  }

  .main__sesions {
    width: 100%;
    height: 10vh;
  }

  .main__btn {
    padding: 0em;
  }

  .btn {
    padding: 0.8em 1em;
    font-size: 1.4em;
  }
}

@media (max-width: 320px) {
  .main__content_glass {
    width: 18.5em;
    height: 20em;
  }

  .title__main {
    font-size: 3em;
  }

  .main__sesions {
    width: 100%;
    height: 10vh;
  }

  .main__btn {
    padding: 0em;
  }

  .btn {
    padding: 0.8em 1em;
    font-size: 1.1em;
  }
}
